<footer class="footer">
  <div class="footer-container">

    <div class="footer-brand">
      <i class="fa-brands fa-airbnb"></i>
      <span>WanderLust</span>
    </div>

    <div class="footer-links">
      <a href="#">About</a>
      <a href="#">Contact</a>
      <a href="#">Privacy</a>
      <a href="#">Terms</a>
    </div>

    <div class="footer-social">
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
    </div>

  </div>

  <p class="footer-copy">
    © 2026 WanderLust. All rights reserved.
  </p>
</footer>
